<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSeP3nx0I1Dea-05IVE47R4CjHx0y6niY</string>
	<key>GCM_SENDER_ID</key>
	<string>487717856499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twicedoor.franchiseplanner</string>
	<key>PROJECT_ID</key>
	<string>franchiseplanner</string>
	<key>STORAGE_BUCKET</key>
	<string>franchiseplanner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487717856499:ios:03b1fecb6bc705870f0386</string>
</dict>
</plist>